// Network settings
#define WIFI_SSID       "SSID"
#define WIFI_PASSWORD   "PASSWORD"
#define BOT_TOKEN       "XXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#define UPDATE_INTERVAL 1000    // ms
#define SECRET          "Secret"

// Watering settings
#define TANK_VOLUME     1000    // ml
#define PUMP_VOLUME     40      // ml
#define PUMP_DURATION   500     // ms
#define PUMP_WAIT       30      // ms

// Pins
#define PUMP_PIN        D5
#define SENSOR_PIN      A0

// other settings
#define AMOUNT_USERS    10
